body {
  margin: 0px;
  font-family: Arial;
}
.overlay {  
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
}

.opacity-100 {
  opacity: 100%;
}

.opacity-90 {
  opacity: 90%;
}
.opacity-80 {
  opacity: 80%;
}
.opacity-70 {
  opacity: 70%;
}
.opacity-60 {
  opacity: 60%;
}
.opacity-50 {
  opacity: 50%;
}
.opacity-40 {
  opacity: 40%;
}
.opacity-30 {
  opacity: 30%;
}
.opacity-20 {
  opacity: 20%;
}
.opacity-10 {
  opacity: 10%;
}
.opacity-0 {
  opacity: 0%;
}


.tweet {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #f09;
  background-image: linear-gradient(45deg, #3023AE 0%, #f09 100%);
  padding: 12px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.floatLeft {
  float: left;
}
.title {
  height:  25px;
}
.photo {
  padding-left: 12px;
  height:  25px;
}
.user {
  height:  25px;
  vertical-align: sub;
  padding-left: 6px;
  font-weight: 600;
  color: whitesmoke;
}
.text {
  padding-left: 25px;
  padding-top: 5px;
  font-size: 14px;
  color: whitesmoke;
}